@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title</h2>
<p> </p>
<p> </p>

<div class="jumbotron" , background-color:transparent>
    Jesteśmy stroną stacjonarnej wypożyczalni filmów i wierzymy mocno, że w dzisiejszych czasach istnieja jeszcze ludzie którzy chcą wypożyczać filmy na płytach DVD bądź na video.<br><br>

    <img src="https://cdn.natemat.pl/877dec8d063337d3e882906ad3351563,780,0,0,0.jpg" width="700" /><br>
    Fot. Bartosz Godziński / naTemat<br><br>

    Filmy ukazują się w wydaniu płytowym średnio od 4 do 5 miesięcy od premiery kinowej. To zdecydowanie szybciej niż na platformach streamingowych. Mają też zwykle niższą cenę (nowości na DVD są do 12 złotych, na Blu-rayu do 14 zł, a starsze kosztują o 2 złote mniej) niż na platformach VOD.
    I nie trzeba mieć też kont na kilku stronach, tylko praktycznie wszystko znajdziemy w jednym miejscu. Można wypożyczać nawet seriale, co dla wielu ludzi bywa zaskoczeniem, bo za "dawnych czasów" nie było czegoś takiego na VHS-ach.<br><br>


    Analogowość jest równocześnie jedną z jej największych zalet. Do wypożyczalni "DVD-Video" można przyjść, napić się kawy, pogadać z właścicielem i poczuć ten specyficzny klimat z lat 90.<br><br>


    <img src="https://cdn.natemat.pl/45995caaecf70d75b900544fe2abad5d,780,0,0,0.jpg" width="700" /><br>
    Fot. Bartosz Godziński / naTemat<br>
</div>



    