@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    Wydział Fizyki i Informatyki Stosowanej<br />
    Pomorska 149/153, 90-001 Łódź<br />
    Telefon:
    42 635 42 61, 666 868 899 <br>

    <strong>Wsparcie techniczne:</strong>
    <a href="mailto:Support@example.com">weronimiksa@wp.pl</a><br />
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.6285869446224!2d19.487074215779877!3d51.77639677968024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bcb3c1a1b8f9d%3A0x564566d8e927e1dd!2sWydzia%C5%82%20Fizyki%20i%20Informatyki%20Stosowanej%20Uniwersytetu%20%C5%81%C3%B3dzkiego!5e0!3m2!1spl!2spl!4v1612390545786!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
