@{
    ViewBag.Title = "Home Page";
}

<div class="a">

    <div class="jumbotron" , background-color:transparent>
        <h1>Omnix</h1>

        <p style="text-align: center">Serwis do wyszukiwania i wypożyczania fimów!</p>
        <img src="~/Zdjecia/zdj.jpg" class="center-block" width="1000" style="padding:70px" />
        <p style="text-align: center">Baza Twoich ulubionych produkcji!</p>
    </div>
    
    
  